$f-helvetica-bold: 'HelveticaNeueCyr-Bold', Tahoma, sans-serif;
$f-helvetica-roman: 'HelveticaNeueCyr-Roman', Tahoma, sans-serif;
$f-helvetica-light: 'HelveticaNeueCyr-Light', Tahoma, sans-serif;
$f-helvetica-medium: 'HelveticaNeueCyr-Medium', Tahoma, sans-serif;
$f-oldstandard: 'OldStandard', Tahoma, sans-serif;
$f-exo-light: 'Exo-Light', Tahoma, sans-serif;
$f-exo-bold: 'Exo-Bold', Tahoma, sans-serif;
$f-exo-regular: 'Exo-Regular', Tahoma, sans-serif;
$f-brushscript: 'BRUSHSCRIPT', Tahoma, sans-serif;

/* Colors */
$colors: (
  #000000, /* 1 */
  #ffffff, /* 2 */
  #202131, /* 3 */
  #8f8f8f, /* 4 */
  #445489, /* 5 */
  #6a7596  /* 6 */
);